{% extends "inicio/Inicio.html" %}
{% block titulo %}Muestrario{% endblock %}
{% load static %}
{% block Contenido%}
<!-- content -->
<div class="body2">
    <div class="main">
        <section id="content">
            <div class="wrapper">
                <article class="col1">
                    <div id="slider">
                        <img src="images/img1.jpg" alt="" title="<strong>Villa Neverland, 2006</strong><span>9 rooms, 3 baths, 6 beds, building size: 5000 sq. ft. &nbsp; &nbsp; &nbsp; Price: $ 600 000 &nbsp; &nbsp; &nbsp; <a href='#'>Read more</a></span>">
                        <img src="images/img2.jpg" alt="" title="<strong>Villa Lipsum, 2008</strong><span>8 rooms, 4 baths, 4 beds, building size: 4500 sq. ft. &nbsp; &nbsp; &nbsp; Price: $ 500 000 &nbsp; &nbsp; &nbsp; <a href='#'>Read more</a></span>">
                        <img src="images/img3.jpg" alt="" title="<strong>Villa Dolor Sid, 2007</strong><span>11 rooms, 3 baths, 5 beds, building size: 6000 sq. ft. &nbsp; &nbsp; &nbsp; Price: $ 650 000 &nbsp; &nbsp; &nbsp; <a href='#'>Read more</a></span>">
                        <img src="images/img4.jpg" alt="" title="<strong>Villa Nemo Enim, 2010</strong><span>5 rooms, 2 baths, 4 beds, building size: 3000 sq. ft. &nbsp; &nbsp; &nbsp; Price: $ 400 000 &nbsp; &nbsp; &nbsp; <a href='#'>Read more</a></span>">
                        <img src="images/img5.jpg" alt="" title="<strong>Villa Nam Libero, 2003</strong><span>7 rooms, 4 baths, 6 beds, building size: 7000 sq. ft. &nbsp; &nbsp; &nbsp; Price: $ 700 000 &nbsp; &nbsp; &nbsp; <a href='#'>Read more</a></span>">
                    </div>
                </article>
            </div>
            <h2 class="pad_bot1">Titulo</h2>
            <div class="wrapper" >
                <article class="col1">
                    <div class="pad_left1">
                        <h2 class="pad_bot1">Información</h2>
                        <div class="wrapper">
                            <article class="cols">
                                <p class="pad_bot1"><strong class="color1">Recamaras <br></strong></p>
                                <p class="pad_bot2">Cantidad de recamaras</p>
                            </article>
                            <article class="cols pad_left1">
                                <p class="pad_bot1"><strong class="color1">Baños</strong></p>
                                <p class="pad_bot2">Cantidad de Baños</p>
                            </article>
                            <article class="cols pad_left1">
                                    <p class="pad_bot1"><strong class="color1">Tipo</strong></p>
                                    <p class="pad_bot2">Venta o Renta</p>
                                </article>
                                <article class="cols">
                                        <p class="pad_bot1"><strong class="color1">Precio</strong></p>
                                        <p class="pad_bot2">$Precio</p>
                                    </article>
                            
                        </div>
                    </div>
                </article>
                <article class="col1">
                        <div class="pad_left1">
                            <h2 class="pad_bot1">Ubicación</h2>
                            <div class="wrapper">
                                <article class="cols">
                                    <p class="pad_bot1"><strong class="color1">Estado Y Ciudad <br></strong></p>
                                    <p class="pad_bot2">a qui va el estado</p>
                                    <p class="pad_bot2">a qui va la ciudad</p>
                                </article>
                                <article class="cols pad_left1">
                                    <p class="pad_bot1"><strong class="color1">Colonia y Calle</strong></p>
                                    <p class="pad_bot2">aqui va la Colonia</p>
                                    <p class="pad_bot2">aqui va la Calle</p>
                                    <p class="pad_bot2">aqui va el Numero</p>
                                </article>
                                
                            </div>
                        </div>
                    </article>
                    <article class="col1">
                            <div class="pad_left1">
                                <h2 class="pad_bot1">Descripcción</h2>
                                <div class="wrapper">
                                    <article class="cols">
                                        <p class="pad_bot2">a qui va la Descripcción</p>
                                    </article>      
                                </div>
                            </div>
                        </article>
                        <article class="col1">
                                <div class="pad_left1">
                                    <h2 class="pad_bot1">Contacto</h2>
                                    <div class="wrapper">
                                        <article class="cols">
                                            <p class="pad_bot1"><strong class="color1">Telefono <br></strong></p>
                                            <p class="pad_bot2">a qui va el Telefono</p>
                                        </article>
                                        <article class="cols pad_left1">
                                            <p class="pad_bot1"><strong class="color1">Correo</strong></p>
                                            <p class="pad_bot2">aqui va el correo</p>
                                        </article>
                                        
                                    </div>
                                </div>
                            </article>
            </div>
        </section>
    </div>
</div>
<!-- / content -->
{% endblock %}